<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-7 mt-5" data-aos="fade-right" data-aos-duration="1000">
        <h2>What’s Next in Your Career?</h2>
        <p>
          At Sterling Performance, we believe that our people are the greatest asset. We’re devoted to creating the best teams and maximizing individual potential. We believe that real competitive advantage happens when employees are surrounded with Stunning Colleagues each with a variety of experiences, personalities, and perspectives.

          Whether you’re a student, a fresh grad, or experienced in your field, check out our opportunities and find your fit. We will enable you to continually challenge yourself, and stay on top of the game.
        </p>
      </div>
      <div class="col-md-5" data-aos="fade-left" data-aos-duration="1000">
        <img class="img-fluid" src="../../assets/img/Carrers.jpg" />
      </div>
    </div>
   
  </div>
</div>
<div class="container">
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">All Online Vacancies :</h6>
    <div class="media text-muted pt-3">
      <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff" /><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
      <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <div class="d-flex justify-content-between align-items-center w-100">
          <strong class="text-gray-dark">Project Manager</strong>
          <a>
            <i class="fa fa-plus" aria-hidden="true" (click)="onClickShowMoreJob()"></i>
          </a>
        </div>
        <div *ngIf="Showdiv" class="blog-post">

          <p>Job Description.</p>
          <h4>Job Qualification :</h4>
          <ul>
            <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
            <li>Donec id elit non mi porta gravida at eget metus.</li>
            <li>Nulla vitae elit libero, a pharetra augue.</li>
          </ul>
          <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
          <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
        </div><!-- /.blog-post -->
      </div>
    </div>
    <div class="media text-muted pt-3">
      <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff" /><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
      <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <div class="d-flex justify-content-between align-items-center w-100">
          <strong class="text-gray-dark">Project Manager</strong>
          <a>
            <i class="fa fa-plus" aria-hidden="true" (click)="onClickShowMoreJob()"></i>
          </a>
        </div>
        <div *ngIf="Showdiv" class="blog-post">

          <p>Job Description.</p>
          <h4>Job Qualification :</h4>
          <ul>
            <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
            <li>Donec id elit non mi porta gravida at eget metus.</li>
            <li>Nulla vitae elit libero, a pharetra augue.</li>
          </ul>
          <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
          <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
          <div class="button">
            <button type="button" class="btn btn-primary" (click)="routeToApplyCarrer()">Apply</button>
          </div>
        </div><!-- /.blog-post -->
      </div>
    </div>
    <div class="media text-muted pt-3">
      <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff" /><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
      <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <div class="d-flex justify-content-between align-items-center w-100">
          <strong class="text-gray-dark">Project Manager</strong>
          <a>
            <i class="fa fa-plus" aria-hidden="true" (click)="onClickShowMoreJob()"></i>
          </a>
        </div>
        <div *ngIf="Showdiv" class="blog-post">

          <p>Job Description.</p>
          <h4>Job Qualification :</h4>
          <ul>
            <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
            <li>Donec id elit non mi porta gravida at eget metus.</li>
            <li>Nulla vitae elit libero, a pharetra augue.</li>
          </ul>
          <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
          <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
        </div><!-- /.blog-post -->
      </div>
    </div>

  </div>
</div>
