<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand"><img class="img-fluid" src="../../assets/img/logo.png" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" (click)="RouteToPage('Home')">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="RouteToPage('aboutUs')">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="RouteToPage('Testimonials')">Testimonals</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="RouteToPage('Careers')">Careers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="RouteToPage('Blogs')">Blogs</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" (click)="RouteToPage('contactUs')">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="RouteToPage('Testing-Services')">Testing Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="RouteToPage('Racing-Engine')">Racing Engine</a>
      </li>
     
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="RouteToPage('RequestQouta')" >Request A Qouta</button>
    </form>
  </div>
</nav>
