<app-header-testing-services></app-header-testing-services>
<div class="container automtive">

  <div class=" featurette">
    <h3 class="featurette-heading">
      Automotive Fluids Testing
    </h3>

    <p class="lead">
      Fluid Compatibility Testing – Hoses and Components:
      <br />
      We conduct compatibility testing of fluid hoses, fuel lines, and components against various automotive fluids to determine compatibility or effect of exposure.
      <h3 class="featurette-heading">
        Exposure Testing to Automotive Fluids via Soaking, Exposing, Spraying:
      </h3>
    <p class="lead">
      Various components such as filters, hoses, plastic parts etc. can be soaked, sprayed, or exposed to various fluids to determine compatibility or reaction such as deforming, cracking, swelling, etc.
    </p>
    <h3 class="featurette-heading">
      Some Typical Fluids Include:
    </h3>
    <ul>
      <li>Hydraulic Fluids </li>
      <li>Brake Fluid</li>
      <li>Transmission Fluid</li>
      <li>Power Steering Fluid</li>
      <li>Coolants – Engine Coolant</li>
      <li>Glycols</li>
      <li>Cleaning Fluids, Engine Cleaning Fluids</li>
      <li>Solvents</li>
      <li>Refrigerants</li>
      <li>Fuels (Gasoline, Diesel, Corrosive, Alternative, etc.)</li>
    </ul>
    <h3 class="featurette-heading">
      Examples of Typical Parts Tested:
    </h3>
    <ul>
      <li>Fuel Lines </li>
      <li>Lines and Hoses</li>
      <li>Serpentine Belts</li>
      <li>Reservoirs</li>
      <li>Connectors, Clamps, Fasteners</li>
      <li>Filters</li>
      <li>Plastic Parts</li>
      <li>Radiators</li>
    </ul>

    <h3 class="featurette-heading">
      We Also Conduct Heat Rejection Testing:
    </h3>
    <ul>
      <li>Radiators </li>
      <li>Engines</li>
      <li>Other</li>
     
    </ul>
  </div>


</div>
