<app-header-testing-services></app-header-testing-services>
<div class="container">

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>

    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active ">
        <img class="bd-placeholder-img" src="../../assets/img/corrosion/1.jpg" />
      </div>
      <div class="carousel-item ">
        <img class="bd-placeholder-img" src="../../assets/img/corrosion/2.jpg" />
      </div>
      <div class="carousel-item ">
        <img class="bd-placeholder-img" src="../../assets/img/corrosion/3.jpg" />
      </div>
      <div class="carousel-item ">
        <img class="bd-placeholder-img" src="../../assets/img/corrosion/4.jpg" />
      </div>
      <div class="carousel-item ">
        <img class="bd-placeholder-img" src="../../assets/img/corrosion/5.jpg" />
      </div>
     
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


  <div class="container marketing">

    <div class=" featurette">
      <div>
        <h3 class="featurette-heading">
          Corrosion Testing
        </h3>
        <h5 class="featurette-heading">
          Salt Spray Fog & CASS Testing
        </h5>
        <h5 class="featurette-heading">
          Salt Spray Testing – Salt Fog Testing – Corrosion Testing:
        </h5>
      <ul>
        <li>
          Is a Standardized Accelerated Corrosion Test (see ASTM B 117)
        </li>
        <li>
          Also Called Neutral Salt Spray (NSS), Spray Fog / Fogging
        </li>
        <li>
          Variations Include Copper-Accelerated Acetic Acid Salt Spray (CASS) Test
        </li>
        <li>
          Used by Industrial Sector, Construction, Marine, Automotive, Military, Air Craft and Aerospace
        </li>
      </ul>
      <p class="lead">
        Corrosion Testing (e.g. Salt Spray) is an environmental simulation that helps you estimate component service life, compare candidate materials for use with your parts in your environment, and help screen suitable materials for your application.
        <br />
        The Salt Spray Test (Fog Test) is an accelerated corrosion test used to evaluate the relative corrosion resistance materials exposed to a salt spray or salt fog at an elevated temperature. Test specimens are placed in an enclosed salt spray testing cabinet or chamber and subjected to a continuous indirect fog or spray of a salt water solution. This climate is maintained throughout the duration of the test.
      </p>

      <p class="lead">
        Salt spray testing (fog) is popular because it is well standardized and reasonably repeatable. Salt spray tests are widely used in the industrial sector, marine, automotive, air craft, and military equipment for the evaluation of corrosion resistance of parts or finished surfaces.

        <br />
        Coatings provide corrosion resistance for metallic parts. Salt Fog Testing is an excellent way to test the permeability of coatings and seals. Sterling Performance offers testing of materials to verify conformation to various industry standards.

        <br />
        The ASTM B-117 Salt Spray Test standard (and ISO 9227) are widely used reference standards to determine normal corrosion resistance to ocean water type environments. Our capabilities include Salt Fog Testing, CASS Testing, Humidity, Water Fog and other test methods.
        <br />
        Copper-Accelerated Salt Spray testing is done according to ASTM G 85 and ASTM B 368. The ASTM B-368 (CASS Test) is widely used to evaluate aggravated conditions such as road salt on automotive parts.
        <br />
        ASTM B117 is the oldest and most widely used salt spray test. Supposedly used as early as 1914 with roots in the National Bureau of Standards, and formalized as an ASTM B117 specification in 1939 by the American Society for Testing and Materials (ASTM).
        <br />
        We check corrosion testing parameters daily to show compliance with the standards, and testing records are documented accordingly. The appearance of corrosion is evaluated after a period of testing. Test duration depends on the specification or the corrosion resistance of the material.


      </p>
      <h5 class="featurette-heading">
        Typical coatings that can be evaluated with this corrosion testing method are:

      </h5>
        <ul>
          <li>
            Phosphated surfaces, Painted metal surfaces, Organic coatings.
          </li>
          <li>
            Zinc, Zinc-alloy electroplating, electroplated Chromium, Nickel, Copper, Tin
          </li>
          <li>
            Coatings not applied electrolytically, such as Zinc flake coatings.
          </li>
          <li>
            Painted surfaces with an underlying Hot-Dip Galvanized coating can also be tested according to this method.
          </li>
        </ul>
      </div>

    </div>
   
  </div><!-- /.container -->
</div>
