<div class="container">

  <div class="container">
    <div class="col-md-4 order-md-2 mb-4">        
     
    </div>
    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">Request a Qouta</h4>
      <form class="needs-validation" novalidate>

        <div class="mb-3">
          <label for="username">Username</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">@</span>
            </div>
            <input type="text" class="form-control" id="username" placeholder="Username" required>
            <div class="invalid-feedback" style="width: 100%;">
              Your username is required.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="email">Email <span class="text-muted">(Optional)</span></label>
          <input type="email" class="form-control" id="email" placeholder="you@example.com">
          <div class="invalid-feedback">
            Please enter a valid email address for shipping updates.
          </div>
        </div>
        <div class="mb-3">
          <label for="username">Mobile Number</label>
          <div class="input-group">

            <input type="text" class="form-control" id="mobileNumber" placeholder="Mobile Number" required>
            <div class="invalid-feedback" style="width: 100%;">
              Your Mobile Number is required.
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="username">Qouta **</label>
          <div class="input-group">

            <textarea type="text" class="form-control" id="mobileNumber" placeholder="Send a qouta" required>
</textarea>
            <div class="invalid-feedback" style="width: 100%;">
              Your quota is required.
            </div>
          </div>
        </div>
        <div class="mb-3">
          <div class="input-group">
            <button type="button" class="btn btn-primary">Send Qouta</button>
            <div class="invalid-feedback" style="width: 100%;">
              Your quota is required.
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>


</div>
