<app-header-racing-engine></app-header-racing-engine>
<div class="container">

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active ">
        <img class="bd-placeholder-img" src="../../assets/img/highPerformanceEngine/1.jpg" />
      </div>
      <div class="carousel-item ">
        <img class="bd-placeholder-img" src="../../assets/img/highPerformanceEngine/2.jpg" />
      </div>
      <div class="carousel-item ">
        <img class="bd-placeholder-img" src="../../assets/img/highPerformanceEngine/3.jpg" />
      </div>
      <div class="carousel-item ">
        <img class="bd-placeholder-img" src="../../assets/img/highPerformanceEngine/4.jpg" />
      </div>
      <div class="carousel-item ">
        <img class="bd-placeholder-img" src="../../assets/img/highPerformanceEngine/5.jpg" />
      </div>
      <div class="carousel-item ">
        <img class="bd-placeholder-img" src="../../assets/img/highPerformanceEngine/6.jpg" />
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


  <div class="container marketing">

    <div class="row featurette">
      <div class="col-md-8">
        <h5 class="featurette-heading">
          Engineered for Power, Performance, and Reliability
        </h5>
        <p class="lead">
          Customers like you come to us because you’re passionate about racing and you expect to win. You’re highly selective when it comes to your engines. You demand the best. That’s why our engines consistently outperform the competition and our customers win so many championships and set so many world speed records… because we are dedicated to working together with you to set the highest quality standards that deliver the finest marine engine packages that racers with high standards come to expect.
        </p>
        <p class="lead">
          Sterling Performance is the leader in High Performance Engines with numerous World Championships and the Highest Official World Record Kilo Speed – 202.9 mph!
          </p>
        <p class="lead">
          The legendary power and reliability of a Sterling Racing Engine is best known to those handling the throttle as they cherish the seemingly endless white-knuckled power pouring out of these award winning motors.
        </p>
      </div>
      <div class="col-md-4">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="../../assets/img/../../assets/img/racingEngineHome/6.jpg" />
      </div>
    </div>
    <div class="container mt-3">
      
      <h3>Your engines thoroughly tested for your assurance by the best engine staff in the business:</h3>
      <ul>
        <li>You get meticulous inspection, preparation, and attention to detail on every engine part prior to assembly and onsite dynamometer testing. We reject a lot of parts other engine builders</li>
        <li>would use because they don’t meet our exacting standards for reliability.</li>
        <li>Your engine is properly broke in. We take the engine, cams, and parts through a proper break-in period so you know its done right for you by our engine professionals.</li>
        <li>You get the actual advertised horsepower you expect and paid for. We verify Power and Torque. We make our advertised horsepower.</li>
        <li>You get meticulous inspection, preparation, and attention to detail on every engine part prior to assembly and onsite dynamometer testing. We reject a lot of parts other engine builders</li>
        <li>would use because they don’t meet our exacting standards for reliability.</li>
        <li>Your engine is properly broke in. We take the engine, cams, and parts through a proper break-in period so you know its done right for you by our engine professionals.</li>
        <li>You get the actual advertised horsepower you expect and paid for. We verify Power and Torque. We make our advertised horsepower.</li>
      </ul>
    </div>

  </div><!-- /.container -->

</div>
