<div class="container-fluid" style="margin-top:3%;">
  <div class="nav-scroller py-1 mb-2 mt-6">
    <nav class="nav d-flex justify-content-between">
      <a class="p-2 text-muted" (click)="navigatetoPage('DynamometerTesting')" >Dynamometer Testing</a>
      <a class="p-2 text-muted" (click)="navigatetoPage('CutawayEngineDisplays')">Cutaway Engine Displays</a>
      <a class="p-2 text-muted" (click)="navigatetoPage('AutomotiveFluidsTesting')">Automotive Fluids Testing</a>
      <a class="p-2 text-muted" (click)="navigatetoPage('BatteryTesting')">Battery Testing</a>
      <a class="p-2 text-muted" (click)="navigatetoPage('CarbonTestingProcedures')">CarbonTesting Procedures</a>
      <a class="p-2 text-muted" (click)="navigatetoPage('CorrosionTesting')">Corrosion Testing</a>
      <a class="p-2 text-muted" (click)="navigatetoPage('CustomTestEquipment')">Custom Test Equipment</a>
      <a class="p-2 text-muted" (click)="navigatetoPage('EnvironmentalTesting')">Environmental Testing</a>
      <a class="p-2 text-muted" (click)="navigatetoPage('EvaporativeEmissionTesting')">Evaporative Emission Testing</a>
      <a class="p-2 text-muted" (click)="navigatetoPage('FuelSloshTesting')">Fuel Slosh Testing</a>
      <a class="p-2 text-muted" (click)="navigatetoPage('fuelSystemTesting')">Fuel System Testing</a>
      <a class="p-2 text-muted"(click)="navigatetoPage('fuelTesting')">Fuel Testing</a>
      <a class="p-2 text-muted" (click)="navigatetoPage('HeliumLeakTesting')">Helium Leak Testing</a>
      <a class="p-2 text-muted" (click)="navigatetoPage('MagneticParticleInspection')">Magnetic Particle Inspection</a>
      <a class="p-2 text-muted"(click)="navigatetoPage('MaterialsTesting')">Materials Testing</a>
      <a class="p-2 text-muted" (click)="navigatetoPage('PerformanceDurabilityReliabilityTesting')">Performance, Durability & Reliability Testing</a>
      <a class="p-2 text-muted" (click)="navigatetoPage('PermeationTesting')">Permeation Testing</a>
      <a class="p-2 text-muted" (click)="navigatetoPage('PortableFuelContainerTesting')">Portable Fuel Container Testing</a>
      <a class="p-2 text-muted"(click)="navigatetoPage('PumpDurabilityTesting')">Pump Durability Testing</a>
      <a class="p-2 text-muted" (click)="navigatetoPage('TensileTesting')">Tensile Testing</a>
      <a class="p-2 text-muted" (click)="navigatetoPage('ThermalShockTesting')">Thermal Shock Testing</a>
      <a class="p-2 text-muted"(click)="navigatetoPage('VehicleHoseTesting')">Vehicle Hose Testing</a>
      <a class="p-2 text-muted"(click)="navigatetoPage('VibrationTesting')">Vibration Testing</a>
      <a class="p-2 text-muted"(click)="navigatetoPage('VibrationNVHTesting')">Types of Vibration & NVH Testing</a>
    </nav>
  </div>
</div>
