<div class="container " style="margin-top:3%;">
  <div class="nav-scroller py-1 mb-2 mt-6">
    <nav class="nav d-flex justify-content-between">
      <a class="p-2 text-muted" (click)="GoToNewEngine()">New Engine Sale</a>
      <a class="p-2 text-muted" (click)="GoToRebuilds()">Rebuilds</a>
      <a class="p-2 text-muted" (click)="DynoTesting()" >Dyno Testing and R&D</a>
      <a class="p-2 text-muted" (click)="learnMoreAboutRacing()" >Learn More About Racing</a>
     
    </nav>
  </div>
  </div>
