<app-header-racing-engine></app-header-racing-engine>
<div class="container mt-5">

  <div class="container marketing">

    <div class="row featurette">
      <div class="col-md-7">
        <h5 class="featurette-heading">
          How We Started
        </h5>
        <p class="lead">
          Sterling Performance is owned by Michael J. D’Anniballe and was incorporated under the laws of Michigan, November 12, 1990.
        </p>
        <p class="lead">
          Over the years Sterling Performance has built a strong relationship with Pete Hledin, founder and owner of Douglas Marine. Douglas Marine is located in Douglas, Michigan and is the manufacturer of Skater catamarans. These boats have set records and won world championships of the American Power Boat Association, Super Boat International and Union International Motonautique Class I Circuit.  We proudly supply engines for installations and record setting boats for MTI, Fountain Performance Marine, Cigarette, Outer Limits, Sonic and Nortech.
        </p>
        <p class="lead">
          Sterling Performance has become the leader and “gold standard” in High Performance Engines with numerous World Championships and the Highest Official World Record Kilo Speed – 202.9 mph!
        </p>
        <p class="lead">
          This experience, most pronounced in professional motor sport engine building, assures high visibility and opportunity within the marketplace to continue to lead and innovate; producing the hallmark of our reputation as the finest, fastest, most reliable engines money can buy.
        </p>
        <p class="lead">
          Our success has sparked an ever growing wave of requests for Poker Run and Performance Pleasure Boat engines, which are becoming a large staple of our engine product offerings, including our new fuel saving, yet powerful 700 hp engine package.  See our Pleasure Boat Engines.
        </p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="../../assets/img/../../assets/img/howwestarted1.jpg" />
      </div>
    </div>
    <div class="row featurette">
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="../../assets/img/../../assets/img/howwestarted2.jpg" />
      </div>
      <div class="col-md-7">
        <h5 class="featurette-heading">
          Why Sterling Performance?
        </h5>
        <p class="lead">
          If you want the fastest, most reliable engines, built right, that make the advertised horsepower you paid for, then you want Sterling Performance engines.  How do we achieve this?
        </p>
        <p class="lead">
          Every engine part is carefully inspected and fine-tuned before going into one of your engines.  We reject a lot of parts other engine builders would use because they don’t meet our exacting standards for reliability.
        </p>
        <p class="lead">
          We go the extra mile to ensure all our engines, competition or pleasure, get the same attention to detail that is the hallmark of the success know world wide as Sterling engines.
        </p>
        <p class="lead">
          Whether you’re competing in a sanctioned offshore race, participating in a poker run, or simply enjoying your powerboat on the open water, a Sterling Engine will work for you. We are proud of our reputation and are committed to continue to build the finest engines on the market.
        </p>
        <p class="lead">
          We also have the right facilities, staff, and testing to ensure your engines are professionally dialed-in, tuned, and simply ready to be the best engines you ever had the pleasure to throttle.
        </p>
      </div>

    </div>
    <div class="row featurette">
      <div class="col-md-7">
        <h5 class="featurette-heading">
          How We Started
        </h5>
        <p class="lead">
          Sterling has much more to offer than engine testing. We have personnel with experience in combustion analysis, through the use of cylinder pressure transducers, air / fuel ratio testing with Horiba instrumentation, valve train studies, cylinder head manifold flow bench work and engine frictional analysis testing.
        </p>
        <p class="lead">
          Sterling also has the capability of performing engine crankshaft torsional vibration testing with an in house Scientific Atlantic Dynamic Signal Analyzer. We can acquire data peculiar to a particular engine combination and a purpose build harmonic dampers to best suit the engines application.
        </p>
        <p class="lead">
          Still winning all the races, and continuing to build the best engines on the market now and into the future, with the same detail in all our engine packages.
        </p>

        <h4 class="lead">
          In summary, we offer you what other engine builders do not:
        </h4>
        <ul>
          <li>
            Onsite Engine Design and Innovation, collaborating with the  industry’s best boat builders.
          </li>
          <li>A Time-Tested and Proven History of Building and Delivering the Finest Performance Engines on the Market.</li>
          <li>Race-Proven Winning Engine Packages and World Records.</li>
          <li>Standard Pleasure Boat and Poker Run Engine Packages.</li>
          <li>Custom Engine Designs.</li>
          <li>Engine Rebuilding Service.</li>
          <li>Our own onsite Custom Machine Shop.</li>
          <li>Custom Painting.</li>
        </ul>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="../../assets/img/../../assets/img/howwestarted3.jpg" />
      </div>
    </div>

  </div><!-- /.container -->

</div>
