<app-header-racing-engine></app-header-racing-engine>

<div class="container">

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active ">
      <img class="bd-placeholder-img" src="../../assets/img/racingEngineHome/1.jpg" />
    </div>
    <div class="carousel-item ">
      <img class="bd-placeholder-img" src="../../assets/img/racingEngineHome/2.jpg" />
    </div>
    <div class="carousel-item ">
      <img class="bd-placeholder-img" src="../../assets/img/racingEngineHome/3.jpg" />
    </div>
    <div class="carousel-item ">
      <img class="bd-placeholder-img" src="../../assets/img/racingEngineHome/4.jpg" />
    </div>
    <div class="carousel-item ">
      <img class="bd-placeholder-img" src="../../assets/img/racingEngineHome/5.jpg" />
    </div>

  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<div class="container marketing">

  <div class="row featurette">
    <div class="col-md-8">
      <h5 class="featurette-heading">
        The World’s Finest and Fastest Engines
      </h5>
      <p class="lead">
        Sterling Performance engines are the world’s finest, fastest and most reliable engines that money can buy. Whether you’re competing in a sanctioned offshore race, participating in a poker run, or simply enjoying your powerboat on the open water, a Sterling Engine will work for you. We are proud of our reputation and are committed to continue to build the finest engines on the market.
      </p>
      <p class="lead">
        There’s a reason why our engine customers win so many races, championships, and set so many world speed records, and that’s because we work together with our customers, applying our expertise and facilities to deliver reliable engine packages designed to meet or exceed your expectations.
      </p>
      <p class="lead">
        Sterling Performance is the leader in High Performance Engines with numerous World Championships and the Highest Official World Record Kilo Speed – 202.9 mph!

        We have engines ranging from 600 hp to 1700 hp; designed for Pleasure Boats, Poker Runs, and all Championship Competition Race Classes.

        Our customer’s benefit from the investment we’ve made to provide them a Custom Fabrication Machine Shop, Dynamometer Services, and Onsite Testing of all innovations to EPA and CARB specifications. Testing and verification is done personally by our own professional staff in our 34,000 sq. ft. facilities using our own Development Dynamometer Test Cells and Accredited Test Laboratory.

        Whether you’re looking for a naturally aspirated, supercharged, turbocharged, or fuel injected engine, or simply don’t know for sure, we can help deliver the right engine setup to meet your needs and expectations. We pride ourselves on our reputation that the engines we build make our advertised horsepower, and do it reliably.

        What does it all mean? Reliable, powerful engines – built right. For those needing a competitor engine rebuilt and done right, no problem. We gladly rebuild engines, including Mercury, and bring them up to our standards – making them Sterling – so you can enjoy.
      </p>
    </div>
    <div class="col-md-4">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="../../assets/img/../../assets/img/racingEngineHome/6.jpg" />
    </div>
  </div>


</div><!-- /.container -->
</div>
