<app-header-testing-services></app-header-testing-services>
<div class="container">

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
     
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active ">
        <img class="bd-placeholder-img" src="../../assets/img/tensiletesting/1.jpg" />
      </div>
      <div class="carousel-item ">
        <img class="bd-placeholder-img" src="../../assets/img/tensiletesting/2.jpg" />
      </div>
      <div class="carousel-item ">
        <img class="bd-placeholder-img" src="../../assets/img/tensiletesting/3.jpg" />
      </div>

    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


  <div class="container marketing">

    <div class=" featurette">
      <div>
        <h3 class="featurette-heading">
          Tensile Testing
        </h3>

        <p class="lead">
          A simple tensile test, or tension test, is done by pulling on something to determine how the material reacts to forces being applied in tension. As the material is pulled, you determine the material’s tensile strength and how much it will elongate.
          <br />
          Other properties of Materials Testing related to tensile testing can include; Compression, Fatigue, Flexure, Hardness, Impact, Spring, Tension, Torsion.
        </p>

        <h5 class="featurette-heading">
          Tensile Strength:
        </h5>
        <p class="lead">
          During testing, Tensile Strength is the stress at which a material breaks or permanently deforms. It is dependent on the preparation of the specimen and the temperature of the test environment and material.
        </p>
        <h5 class="featurette-heading">
          Why Perform a Tensile Test or Tension Test?
        </h5>
        <p class="lead">
          You can learn a lot about a material from tensile testing and get a complete tensile profile. From this profile information you can determine how the material reacts to different forces and conditions, including the ultimate tensile strength and where it fails.
          <br />
          This information can help you decide if the material is appropriate for your design application, including the environment and forces in which it will operate. This can help you avoid product failures in the field, warranty issues, or product recalls.
        </p>

        <h5 class="featurette-heading">
          There are three definitions of tensile strength:
        </h5>
        <ul>
          <li>
            Yield strength: The stress at which material strain changes from elastic deformation to plastic deformation, causing it to deform permanently.
          </li>
          <li>
            Ultimate strength: The maximum stress a material can withstand when subjected to tension, compression or shearing. It is the maximum stress on the stress-strain curve.
          </li>
          <li>
            Ultimate strength: The maximum stress a material can withstand when subjected to tension, compression or shearing. It is the maximum stress on the stress-strain curve.
          </li>

        </ul>

      </div>

    </div>
    <h5 class="featurette" style="font-weight:bold">
      Our Tensile Testing Capabilities:
    </h5>
    <ul>
      <li>
        We can simulate environmental conditions so you get a complete tensile profile.
      </li>
      <li>Burst and Tensile Testing at Temperatures ranging from -40 °C to 150 °C</li>
      <li>Up to 10,000 lb. (4,536 kg)</li>

    </ul>
    <h5 class="featurette" style="font-weight:bold">
      Materials:
    </h5>
    <ul>
      <li>
        Just about any material; Metals, Alloys, Plastics, Rubber, Fabrics, etc.
      </li>
      <li>Fuel Systems, Fuel System Components, Connector testing, Hose testing, etc.</li>

    </ul>
  </div><!-- /.container -->
</div>
