<app-header-testing-services></app-header-testing-services>
<div class="container">

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
      
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active ">
        <img class="bd-placeholder-img" src="../../assets/img/Carbon/1.jpg" />
      </div>
      <div class="carousel-item ">
        <img class="bd-placeholder-img" src="../../assets/img/Carbon/2.jpg" />
      </div>
      <div class="carousel-item ">
        <img class="bd-placeholder-img" src="../../assets/img/Carbon/3.jpg" />
      </div>
      <div class="carousel-item ">
        <img class="bd-placeholder-img" src="../../assets/img/Carbon/4.jpg" />
      </div>
      <div class="carousel-item ">
        <img class="bd-placeholder-img" src="../../assets/img/Carbon/5.jpg" />
      </div>
      <div class="carousel-item ">
        <img class="bd-placeholder-img" src="../../assets/img/Carbon/6.jpg" />
      </div>
     
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


  <div class="container marketing">

    <div class=" featurette">
      <div>
        <h3 class="featurette-heading">
          Carbon Canister Testing
        </h3>
        <h5 class="featurette-heading">
          Carbon Canister Testing (Canister Testing)
        </h5>
        <h5 class="featurette-heading">
          Carbon Canister Testing (Canister Testing)
        </h5>
        <h5 class="featurette-heading">
          Onboard Refueling Vapor Recovery (ORVR)<br />
          Diurnal Breathing Loss (DBL)<br />
          Complete Carbon Canister Testing
        </h5>
        <p class="lead">
          The guidelines set forth by the EPA and CARB require manufacturers of Onboard Refueling Vapor Recovery (ORVR) systems to test and demonstrate reliability and performance compliance of these systems to the Clean Air Act and other regulations governing these systems.
          <br />
          At Sterling Performance, we provide every test you need to meet regulatory requirements, design verification, and production validation of your design specifications.  We’re experts at helping you meet these requirements through years of experience conducting development testing for the operational performance, durability and reliability of Fuel Vapor Canisters (also called Carbon Canisters).

        </p>

        <p class="lead">
          You benefit from our dedicated “Carbon Canister Endurance Stand” (CCES) for testing the Aging and Durability of the Carbon Canisters, combined with our complete high-end Fuel System Testing Lab which includes Soak Roams, Environmental Simulation Champers, custom Micro and Mini SHED’s, along with everything you need for your entire canister testing needs.
          <br />
          With our Carbon Canister Endurance stand we can automatically test 8 carbon canisters at one time.  We also have 6 scales for Butane Working Capacity tests.
          <br />
          We test all fuels and blends, including alcohol.  We keep most fuels in stock for faster response time to your test requests.  We meet your fuel specifications.   If you don’t see the required fuel in our fuel list, just tell us.  If we don’t have it, we’ll get it.
        </p>
        <h5 class="featurette-heading">
          Data Integrity:
        </h5>
        <p class="lead">
          You get accurate test data because we use fresh fuel and follow all specifications.  We don’t cut corners and we do not reuse old fuel.  Our lab conducts tests the right way so you get accurate data.
          <br />
          You get timely test results, the most accurate and reliable data, and concise reports courtesy of our investment in state-of-the-art specialized test equipment, data acquisition, and custom software for testing fuel vapor carbon canisters and butane working capacity so we can provide you with the best testing, period.
        </p>
        <h5 class="featurette-heading">
          Open Lab Policy:
        </h5>
        <p class="lead">
          That’s right – at Sterling Performance you can actually watch your carbon canister test get setup and run.  Stop by anytime to see your canister test in progress; observe, ask questions, review data.  We’re here to serve you with quality testing.  We openly demonstrate your tests are done right.  This applies to all testing at Sterling Performance.
        </p>
      </div>
     
    </div>
  <div class="row featurette">
    <div class="col-md-8">
      <h5 class="featurette-heading">
        Testing Flexibility – Your Tests Are Completely Monitored and Fully Automated:
      </h5>
      <p class="lead">
        All test parameters are continuously monitored and recorded; the carbon canisters, surrogate canisters, canister weight, canister temperatures, fuel temperatures, load and purge rates, pressure / vacuum cycling, canister idle periods, weight break-through, elapsed time, all conditions, you name it, they are all fully programmable, totally automatic, and completely monitored.
        <br />
        You get the most accurate and cost-effective test environment to age carbon canisters under real-world conditions.  This includes complete control in selecting how your canisters are aged, because our Carbon Canister Endurance Stand is a fully automated, programmable, and compatible with any blend of gasoline and alcohol fuel; and operates with nearly any carbon canister.
        <br />
        In fact, our entire lab is state-of-the-art, with fiber optics, redundant servers, wireless technology, with remote test stand monitoring and remote controlled – with alarms that remotely alert lab personnel to test stand conditions 24 hours a day, 7 days a week, nights, weekends, and holidays; anytime, anywhere.
        <br />
        With your carbon canister testing, as with any test we do, you can rest assured we take care of your test and data.
      </p>
    </div>
  <div class="col-md-4">
    <img class="img-fluid" src="../../assets/img/Carbon/7.jpg" />
  </div>
  </div>
    <div class="featurette">
      <h5 class="featurette-heading">
        Background Information – Onboard Refueling Vapor Recovery and Carbon Canisters:

      </h5>
      <p class="lead">
        Onboard Refueling Vapor Recovery (ORVR) is a vehicle emission control system that consists of a fuel vapor canister to capture fuel vapors from the vehicle gas tank and prevent these vapors from being released into the atmosphere during operation and refueling.  The canister contains activated carbon that adsorbs these fuel vapors and is also referred to as a carbon canister.  The gas tank and fill pipe are designed so that when refueling the vehicle, fuel vapors in the gas tank travel to the carbon canister to be adsorbed.  The fuel vapor is held in the carbon canister until it is drawn back into the engine intake manifold (via vacuum) during vehicle operation to be used as fuel.  ORVR has been mandated on all passenger cars in the United States since 2000 by the United States Environmental Protection Agency‎ (EPA). The use of onboard vapor recovery is intended to negate the necessity for vapor recovery at gas stations.
      </p>
      <p class="lead">
        The EPA and the National Highway Traffic Safety Administration (NHTSA) review each vehicle manufacturer’s ORVR system design plans, prior to vehicle production, to assure compliance with Clean Air Act requirements that vehicles do not “cause or contribute to an unreasonable risk to public health, welfare or safety in its operation or function.”  Manufacturers indicate that they have performed extensive testing on ORVR anti-pollution systems to assure compliance, and Sterling Performance provides complete testing to help you meet these requirements.
      </p>
    </div>
  
  </div><!-- /.container -->
</div>
