<app-header-testing-services></app-header-testing-services>
<div class="container battery">

  <div class=" featurette">
    <h3 class="featurette-heading">
      Battery Testing
    </h3>
    <h5 class="featurette-heading">
      Lithium Battery Testing Services<br />Electric Vehicles (EV) and Hybrid Electric Vehicles (HEV)
    </h5>
    <p class="lead">
      If you are trying to develop long-lasting, high-quality batteries to meet the daily demands of your customers, we can help. Sterling Performance can conduct Battery Testing in real-life-situations and environmental conditions.
    </p>
    <p class="lead">
      Heat for example can be a battery’s worst enemy for some types of batteries. We can conduct thermal shock testing, temperature extremes, and rapid temperature changes.
</p>
    <p class="lead">
      Battery Thermal Management in Electric Vehicles and Hybrid Electric Vehicles (EV & HEV) is essential for long service life and effective operation in all climates.  We can even help design, build, and test Battery Thermal Management Systems (BTMS); including prototype vehicles.
    </p>
    <p class="lead">
      We perform extensive battery testing services. We can test your batteries around-the-clock, 24 hours a day, 7 days a week, 365 days a year.
    </p>
    <h3 class="featurette-heading">
      Example Battery Tests We Perform:
    </h3>
    <ul>
      <li>Charge Monitoring / Discontinuity </li>
      <li>Current Cycling</li>
      <li>Voltage Drop / Resistance Measurements</li>
      <li>Lifetime Span, Life Cycle & Endurance Testing</li>
      <li>Testing Environmental Effects</li>
      <li>Thermal Shock Testing</li>
      <li>Thermal Cycling Testing</li>
      <li>Corrosion Resistance Testing</li>
      <li>Corrosion Resistance Testing</li>
      <li>Cracking</li>
      <li>Vibration, Drop, and Impact Testing</li>
    </ul>
    <h3 class="featurette-heading">
      Example Battery Types We Test:
    </h3>
    <ul>
      <li>Disposable / Recyclable Consumer Batteries </li>
      <li>Alkaline</li>
      <li>Lithium-Ion, Lithium-Ion Nano Phospate</li>
      <li>Dry Cell Batteries</li>
      <li>Rechargeable Batteries</li>
      <li>NiMH, Nickel Metal Hydride</li>
      <li>NiCd, Nickel-Cadmium</li>
      <li>Cell Phone Batteries , Digital Camera Batteries, and Portable Electronics</li>
      <li>Laptop Batteries</li>
      <li>Watch Batteries, Button Cell</li>
      <li>Vehicle Batteries</li>
      <li>Car, Automotive, including Electric Vehicles (EV) and Hybrid Electric Vehicles (HEV)</li>
      <li>Motorcycle</li>
      <li>Truck Batteries, Super Heavy Duty, Lift Truck Batteries</li>
    </ul>

    <h3 class="featurette-heading">
      Sterling Performance serves you through our 34,000 sq. ft. Manufacturing and Testing Facilities including:
    </h3>
    <ul>
      <li>Staff Mechanical and Electrical Engineers </li>
      <li>Lab Technicians</li>
      <li>Fabricators</li>
      <li>Project Management and Reporting</li>
      <li>Open Lab Policy (stop by any time)</li>
      <li>Full Environmental Simulation and Testing</li>
      <li>Private Test Areas for Product Confidentiality</li>

    </ul>
  </div>


</div>
