<div class="container-fluid">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="container-fluid jumbotron">
    <div class="row">
      <div class="col-md-7 mb-4 mt-5" data-aos="fade-right" data-aos-duration="1000">
        <h1>Testimonials</h1>
        <p>We at Sterling Performance provide our customers with surveys in order to constantly gauge customer feedback, improve or service, and add to our testing capabilities.</p>
        <p>
          <strong>Our Service Is Constantly Rated High By Our Customers:</strong> <br />
          We average between 4 and 5 star ratings in “all” of our customer satisfaction categories which includes; Communication, Courtesy, Technical Competence, Adherence to Timeline, Quality of Reports, Quality of Service, and Overall Satisfaction.
        </p>
      </div>
      <div class="col-md-5 mb-4 testimonialImg" data-aos="fade-left" data-aos-duration="1000">
        <img class="img-fluid" src="../../assets/img/testimonial.jpg" />
      </div>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="mt-2 col-md-4" >
        <div class="mb-4" >
          <p style="font-size:13px;">“Sterling Performance and their testing personnel have enabled me to make great strides in developing new fuel system products. I have submitted at least three patent applications to the US Patent Office, which contain significant amounts of data proving the effectiveness of my new products. In many cases no standard testing existed to prove out the product concepts. The testing personnel at Sterling Performance were critical in developing new tests. Some of these tests have become standard tests for our products, and in at least one case have been adopted by our OEM customer as part of their Engineering Specification.”</p>
          <h6 style="font-weight:600">Chris Treusch – Visteon (Pulsation Testing)</h6>
        </div>
      </div>
      <div class="mt-2 col-md-4 testimonial" style="background-color:#e9ecef">
        <div class="mb-4">
          <p style="font-size:13px;">“Sterling is willing to work through the unknowns and for a reasonable price. This is important to an angineering manager.” </p>
          <h6 style="font-weight:600">
            Eric Hahne – Continental (High Pressure Pumps)
          </h6>
        </div>
      </div>
      <div class="mt-2 col-md-4" >
        <div class="mb-4">
          <p style="font-size:13px;">“Sterling’s technical competence is as good as it gets, as is your willingness to do what it takes to get the job done, including staffing on weekends, etc.  Problems (engine, control, data acquisition, etc.) all just somehow seem to get handled in a timely manner due to the able and conscientious people that you have working for you.  I also appreciate the frequent and timely communication provided by Alvin.  If ever I can provide a reference, I’d be pleased to do so.”</p>
          <h6 style="font-weight:600">
            John Kreucher – Delphi (Oxygen Sensor Engine Durability Testing)
          </h6>
        </div>
       
      </div>
      <div class="mt-2 col-md-4" style="background-color:#e9ecef">
        <div class="mb-4">
          <p style="font-size:13px;"> “Alvin writes a very professional test report with excellent attention to detail. These reports have been submitted as backup data for government compliance requirements.  Jon does an excellent job of managing the actual testing. I have been impressed with the quality of work and the facility itself.”</p>
          <h6 style="font-weight:600">Jim Summers – Ford Motor Company </h6>
        </div>
        
      </div>
      <div class="mt-2 col-md-4" >
        <div class="mb-4">
          <p style="font-size:13px;">
            Very good at adapting to new and unusual tests required in R&D projects.  In-house machine shop is a big plus.”
          </p>
          <h6 style="font-weight:600">
            Scott Rier – Martinrea (Canister Testing)
          </h6>
        </div>
</div>
      <div class="mt-2 col-md-4" style="background-color:#e9ecef">
        <div class="mb-4">
          <p style="font-size:13px;">“I have worked with Sterling Performance the past 2 years. I have nothing but positive feedback to give having had no issues. Alvin’s knowledge of Helium Leak testing and experience in “lessons learned” has help significantly when there have been issues on my samples.”</p>
          <h6 style="font-weight:600">Lee Stoeckl – Delphi </h6>
        </div>
        
      </div>

    </div>

    <hr>

  </div> <!-- /container -->

</div>
