<app-header-racing-engine></app-header-racing-engine>
<div class="container">

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active ">
        <img class="bd-placeholder-img" src="../../assets/img/dynoTesting/1.jpg" />
      </div>
      <div class="carousel-item ">
        <img class="bd-placeholder-img" src="../../assets/img/dynoTesting/2.jpg" />
      </div>
      <div class="carousel-item ">
        <img class="bd-placeholder-img" src="../../assets/img/dynoTesting/3.jpg" />
      </div>
      <div class="carousel-item ">
        <img class="bd-placeholder-img" src="../../assets/img/dynoTesting/4.jpg" />
      </div>
      <div class="carousel-item ">
        <img class="bd-placeholder-img" src="../../assets/img/dynoTesting/5.jpg" />
      </div>
      <div class="carousel-item ">
        <img class="bd-placeholder-img" src="../../assets/img/dynoTesting/6.jpg" />
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


  <div class="container marketing">

    <div class="row featurette">
      <div class="col-md-8">
        <h5 class="featurette-heading">
          Sterling Performance provides engine dynamometer testing for engines up to 2,000 HP and 2,000 ft/lb Torque.
        </h5>
        <p class="lead">
          At Sterling Performance, in addition to testing all our race engines, we are able to dyno test most automotive engines. Our dynamometers can be spun to 10,000 rpm and will load engines of 0 – 2,000 HP. We could set up and test any type of engine in this range.
        </p>
        <p class="lead">
          The dyno facilities offer (2) Super Flow SF7100 dynamometers with super flow data acquisition, and a third Froude G-490 for special studies.
        </p>
        <h5 class="featurette-heading">
          Engine Assembly, Research and Development
        </h5>
        <p class="lead">
          We can assemble and dyno test your engine. The ability to do very detailed engine dynamometer testing means Sterling Performance can also conduct unlimited engine development programs.
        </p>
        
      </div>
      <div class="col-md-4">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="../../assets/img/../../assets/img/dynoTesting/8.png" />
      </div>
    </div>


  </div><!-- /.container -->

</div>
