<app-header-testing-services></app-header-testing-services>
<div class="container heliumLeak">
  <div class=" featurette">
    <div>
      <h3 class="featurette-heading">
        Magnetic Particle Inspection
      </h3>
      <h5 class="featurette-heading">
        Magnetic Particle Inspection is a non-destructive process used for the detection of surface and near-surface flaws or defects in ferromagnetic (ferrous) materials.
      </h5>
      <p class="lead">
        An externally applied magnetic field is directed to the test subject.  If the material is without defect, most of the magnetic flux remains below the material’s surface.  Magnetic flux is distorted or will leave the part at any flawed area due to interaction with the magnetic field.
        helium gas or liquid which is passing through a leak is measured or tested.
      </p>

    </div>

  </div>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>

    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active ">
        <img class="bd-placeholder-img" src="../../assets/img/magneticpacticle/1.jpg" />
      </div>
      <div class="carousel-item ">
        <img class="bd-placeholder-img" src="../../assets/img/magneticpacticle/2.jpg" />
      </div>
      <div class="carousel-item ">
        <img class="bd-placeholder-img" src="../../assets/img/magneticpacticle/3.jpg" />
      </div>


    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


  <div class="container marketing">

    <div class=" featurette">
      <div>
        <p class="lead">
          The distortion of the magnetic field, depending on the intensity of the magnetism, can extend a good distance through the part and even and into the air.  To make this distortion visible, and thus detect any defect, tiny magnetic particles are applied to the surface of the specimen, which are then attracted to the area of flux field leakage, creating a visible indication of the flaw.
          <br />
          The most typical materials used include small iron or iron oxide particles.  The particles are typically flowed over the surface using a paraffin or fluid such as water or kerosene.  The particles are attracted to the magnetic flux field leakages and thus migrate to and expose defects and flaws.
          <br />
          At Sterling Performance, we employ a strong AC electromagnet which can be used to concentrate the field at the surface where it is needed, making our Magnetic Particle Inspection very robust, even on parts with complex geometry.
          <br />
          Our customers also benefit that we use an in-house bench unit because it enables large numbers of manufactured specimens of various sizes to be tested, and makes testing more rapid, convenient and efficient, which is especially handy for customers needing rapid turnaround on their part testing.  Magnetic Particle Inspection is typically much faster than ultrasonic testing and radiographic testing.
        </p>
      </div>
      <div class="row featurette">
        <div class="col-md-8">
          <h5 class="featurette-heading" style="font-weight:bold">
            What Can Be Tested?
          </h5>
          <p class="lead">
            Magnetic Particle Inspection can be used to look for cracking, surface-breaking, and sub-surface flaws in ferrous materials allowing for a wide range of possible manufactured, welded, forged, or machined part testing.
            <br />
            Example part testing can include looking for defects in welded joints, machined parts, forgings, castings, including inspecting billets or slab raw materials to name a few.  This is especially useful for identifying defects before parts are put into service or for preventative maintenance by checking integrity of critical parts that have been in service.  Structural parts such as landing gear can be inspected for fatigue, cracks, creep cracking, or other near surface imperfections.
            <br />
            Our Magnetic Particle Inspection table was designed to be large enough to test aircraft landing gear!
            <br />
            There are some limitations with Magnetic Particle Inspection in that it may not detect deeply embedded flaws, and does not work on non-ferromagnetic materials (e.g. aluminum or copper as an example).  Other forms of testing procedures are used in these cases such as dye penetration testing as one example.         </p>
        </div>
        <div class="col-md-4">
          <img class="bd-placeholder-img" src="../../assets/img/magneticpacticle/4.jpg" />

        </div>
      </div>
    </div>

  </div><!-- /.container -->
</div>
